@import '../../Style/GlobalStyle.scss';

.logicpage {
    display: flex;
    height: 3300px;
    justify-content: center;
    align-items: center;
    background-color: #D8E8F5;
}


.headermath {
    position: relative;
    bottom: 1400px;
    width: 100%;
    height: 550px;
    // background-repeat: no-repeat;
    background-image: url('../../img/Logic_back.png');
}

span {
    @include text_decor(black, 48px, 400);
    font-family: $fontPlayfairCD;
}

.test_box {
    position: absolute;
    width: 90%;
    height: 2300px;
    background-color: white;
    border-radius: 70px;
    top: 340px;
    // left: 5.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        @include text_decor(black, 48px, 400);
        font-family: $fontPlayfairCD;
        margin-left: 20px;
    }

}

.check_container {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.first_test {
    @include test_block(600px);
}

.box_one {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    img {
        width: 550px;
        height: 240px;
        margin-right: 15px;
    }
}


.checkboxWrapper21 {
    position: relative;
    display: block;
    overflow: hidden;
}

.check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.label svg {
    vertical-align: middle;
}

.path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: 0.5s all;
}

.check:checked+.label svg g path {
    stroke-dashoffset: 0;
}






.two_test {
    @include test_block(600px);
}

.two_container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.check_container2 {
    width: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}


.three_test {
    @include test_block(690px);
}

.three_img {
    display: flex;
    justify-content: center;
}

.btn_res {
    width: 480px;
    height: 115px;
    background-color: #2D4191;
    @include text_decor(white, 48px, 400);
    text-align: center;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

.block_icon_one {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.block_icon_two {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.block_icon_three {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.img_cont {
    position: relative;
    top: -60px;
}


@media screen and (max-width: 450px) {

    .test_box {
        top: 85px;
        border-radius: 35px;

        p {
            @include text_decor(black, 15px, 400);
        }
    }

    .first_test {
        @include test_block(190px);
    }

    .two_test {
        @include test_block(250px);
    }
    .three_test {
        @include test_block(190px);
    }
    .box_one {

        img {
            width: 177px;
            height: 68px;
        }
    }

    .check_container {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .check_container2 {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }
    .check_container2 {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .headermath {
        background-image: url('../../img/Logic_back_mob.png');
        background-repeat: no-repeat;

    }
    .img_cont {
        width: 370px;
        top: -10px;
        svg{
            width: 25px;
            height: 90px;
        }
    }
    .three_img{
        svg{
            width: 177px;
            height: 87px;
        }
    }
    .btn_res{
        width: 145px;
        height: 45px;
        @include text_decor(white, 20px, 400);
    }
}