@import '../../Style/GlobalStyle.scss';

.logicpage {
    display: flex;
    height: 3300px;
    justify-content: center;
    align-items: center;
    background-color: #D8E8F5;
}


.headermath {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 1550px;
    width: 100%;
    height: 150px;
}

.exit_container {
    width: 125px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span {
    @include text_decor(black, 48px, 400);
    font-family: $fontPlayfairCD;
}

.svg_three_test {
    position: relative;
}

.test_box {
    position: absolute;
    width: 90%;
    height: 2300px;
    border-radius: 70px;
    top: 150px;
    // left: 5.5%; 
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        @include text_decor(black, 48px, 400);
        font-family: $fontPlayfairCD;
        margin-left: 20px;
    }

}

.check_container {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

// .first_test {
//     @include test_block(600px);
//     border-left: 35px #527A8A solid;
//     border-top: 35px #527A8A solid;
// }

.test1 {
    @include test_block(600px);
    border-left: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
    transition: border 1s ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.test2 {
    @include test_block(600px);
    border-right: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.test3 {
    @include test_block(690px);
    border-left: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.correctBorder1 {
    @include test_block(600px);
    border-left: 35px #98C194 solid;
    border-top: 35px #98C194 solid;
    /* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder1 {
    @include test_block(600px);
    border-left: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid;
    /* Зміна кольору бордера для неправильних відповідей */
}

.correctBorder2 {
    @include test_block(600px);
    border-right: 35px #98C194 solid;
    border-top: 35px #98C194 solid;
    /* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder2 {
    @include test_block(600px);
    border-right: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid;
    /* Зміна кольору бордера для неправильних відповідей */
}

.correctBorder3 {
    @include test_block(690px);
    border-left: 35px #98C194 solid;
    border-top: 35px #98C194 solid;
    /* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder3 {
    @include test_block(690px);
    border-left: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid;
    /* Зміна кольору бордера для неправильних відповідей */
}






.box_one {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    img {
        width: 550px;
        height: 240px;
        margin-right: 15px;
    }
}


.checkboxWrapper21 {
    position: relative;
    display: block;
    overflow: hidden;
}

.check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.label svg {
    vertical-align: middle;
}

.path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: 0.5s all;
}

.check:checked+.label svg g path {
    stroke-dashoffset: 0;
}






// .two_test {
//     @include test_block(600px);
//     border-right: 35px #527A8A solid;
//     border-top: 35px #527A8A solid;
// }

.two_container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.check_container2 {
    width: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}


// .three_test {
//     @include test_block(690px);
//     border-left: 35px $color_blue solid;
//     border-top: 35px $color_blue solid;
// }

.three_img {
    display: flex;
    justify-content: center;
}

.btn_res {
    width: 480px;
    height: 115px;
    background-color: $color_blue;
    @include text_decor(white, 48px, 400);
    text-align: center;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

.block_icon_one {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.block_icon_two {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.block_icon_three {
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: -20px;
}

.img_cont {
    position: relative;
    top: -60px;
}








@media screen and (max-width: 450px) {
    .headermath {
        bottom: 470px;
    }

    .logicpage {
        height: 1100px;
    }

    .test_box {
        top: 0px;
        border-radius: 35px;
        height: 1000px;

        p {
            @include text_decor(black, 15px, 400);
        }
    }

    .test1 {
        @include test_block(220px);
        border-left: 15px #527A8A solid;
        border-top: 15px #527A8A solid;

    }

    .test2 {
        @include test_block(230px);
        border-right: 15px #527A8A solid;
        border-top: 15px #527A8A solid;
    }

    .test3 {
        @include test_block(220px);
        border-left: 15px #527A8A solid;
        border-top: 15px #527A8A solid;
    }

    .box_one {

        img {
            width: 177px;
            height: 68px;
        }
    }

    .check_container {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .check_container2 {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .check_container2 {

        span {
            @include text_decor(black, 20px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .img_cont {
        width: 370px;
        top: -10px;

        svg {
            width: 25px;
            height: 90px;
        }
    }

    .three_img {
        svg {
            width: 177px;
            height: 87px;
        }
    }

    .btn_res {
        width: 145px;
        height: 45px;
        @include text_decor(white, 20px, 400);
    }

    .exit_container {
        width: 45px;
        height: 46px;

        svg {
            width: 35px;
            height: 33px;
        }

    }

    .block_icon_one {
        svg {
            width: 26px;
            height: 28px;
        }

        height: 10px;
        top: 0;
        left: 0;
    }

    .block_icon_two {
        top: 0;
        left: 0;
        height: 10px;

        svg {
            width: 26px;
            height: 28px;
        }
    }

    .block_icon_three {
        top: 0;
        left: 0;
        height: 10px;

        svg {
            width: 26px;
            height: 28px;
        }
    }

    .correctBorder1 {
        @include test_block(220px); 
        border-left: 15px #98C194 solid;
        border-top: 15px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
    }
    
    .incorrectBorder1 {
        @include test_block(220px);
        border-left: 15px #DD7474 solid;
        border-top: 15px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
    }
    
    .correctBorder2 {
        @include test_block(230px); 
        border-right: 15px #98C194 solid;
        border-top: 15px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
    }
    
    .incorrectBorder2 {
        @include test_block(230px);
        border-right: 15px #DD7474 solid;
        border-top: 15px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
    }
    
    .correctBorder3 {
        @include test_block(220px); 
        border-left: 15px #98C194 solid;
        border-top: 15px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
    }
    
    .incorrectBorder3 {
        @include test_block(220px);
        border-left: 15px #DD7474 solid;
        border-top: 15px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
    }
}