@import '../../Style/GlobalStyle.scss';

.maintest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;

  p {

    margin: 110px 0 0 0;
    padding: 0;
    @include text_decor(black, 48px, 400)
  }
}

.math_block {
  z-index: 2;
  position: relative;
  top: -130px;
  left: -300px;
}
.logic_block{
  position: relative;
  top: -130px;
  left: 250px;
}




@media screen and (max-width: 800px) {
  

  .maintest {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;

    span {
      @include text_decor(black, 32px, 200);
      margin: 0;
    }

  }
  .math_block {
    top:0;
    left: 0;
  }
  .logic_block{
    top:0;
    left: 0;
  }
}