@import '../../Style/GlobalStyle.scss';

.mathpage {
    display: flex;
    height: 2000px;
    justify-content: center;
    align-items: center;
    background-color: #C8D9E6;
}


.HeaderMath {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 900px;
    width: 100%;
    height: 150px;
}

.exit_container {
    position: relative;
    width: 125px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.test_box {
    position: absolute;
    width: 90%;
    height: 1800px;
    border-radius: 70px;
    top: 150px;
    @include text_decor(black, 48px, 400);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-left: 15px;
    }
}

.first_test {
    @include test_block(300px);
    border-left: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
    transition: border 1s ease-in-out;
}

.correctBorder1 {
    @include test_block(300px); 
    border-left: 35px #98C194 solid;
    border-top: 35px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder1 {
    @include test_block(300px);
    border-left: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
}

.correctBorder2 {
    @include test_block(500px); 
    border-right: 35px #98C194 solid;
    border-top: 35px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder2 {
    @include test_block(500px);
    border-right: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
}

.correctBorder3 {
    @include test_block(550px); 
    border-left: 35px #98C194 solid;
    border-top: 35px #98C194 solid;/* Зміна кольору бордера для правильних відповідей */
}

.incorrectBorder3 {
    @include test_block(550px);
    border-left: 35px #DD7474 solid;
    border-top: 35px #DD7474 solid; /* Зміна кольору бордера для неправильних відповідей */
}

.two_test {
    @include test_block(500px);
    border-right: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
}

.img_test {
    display: flex;
    // justify-content:;
    margin-left: 25px;

}

.check_container {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.check_container2 {
    width: 900px;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

.var_check {
    position: relative;
    top: -22px;
    left: -155px;
}

.var_check1 {
    position: relative;
    top: -22px;
    left: -15px;
}

.three_test {
    @include test_block(550px);
    border-left: 35px #527A8A solid;
    border-top: 35px #527A8A solid;
}

.qw_three {
    position: relative;
    top: -15px;
    left: 670px;
}

// .check_container3 {
//     display: flex;
//     justify-content: space-around;
// }
.cont_variant{
    display: flex;
    justify-content: space-around;
}

.container_graf{
    display: flex;
    justify-content: space-around;
}
.btn_res {
    width: 480px;
    height: 115px;
    background-color: $color_blue;
    @include text_decor(white, 48px, 400);
    text-align: center;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}


.block_icon_one {
    width: 50px;
    height: 15px;
    position: relative;
    top: -35px;
    left: -20px;
}

.block_icon_two {
    width: 50px;
    height: 15px;
    position: relative;
    top: -35px;
    left: -20px;
}

.block_icon_three {
    width: 50px;
    height: 15px;
    position: relative;
    top: -35px;
    left: -20px;
}

.head_one{
    width: 100%;
    height: 100px;
}
.head_three{
    width: 100%;
    height: 5px;
}
@media screen and (max-width: 450px) {
    .mathpage {
        height: 1000px;
    }

    .HeaderMath {
        background-image: url('../../img/Math_back_mobile.png');
        background-repeat: no-repeat;
        bottom: 250px;
    }

    .test_box {
        top: 130px;
        border-radius: 35px;
        height: 800px;

        p {
            @include text_decor(black, 15px, 400);
            margin: 15px 0 0 15px;

        }
    }

    .first_test {
        @include test_block(150px);
    }

    .two_test {
        @include test_block(150px);
    }

    .three_test {
        @include test_block(200px);
    }

    .check_container {

        span {
            @include text_decor(black, 15px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .check_container2 {
        width: 300px;
        top: -50px;
        height: 50px;
        span {
            @include text_decor(black, 15px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
        .var_check1{
            top: 0;
            left: -10px;
            svg{
                width: 22px;
                height: 22px;
            }
        }
    }

    .img_test {
        margin: 0;
        display: flex;
        flex-direction: column ;
    }

    .img_graf {
        height: 60px;
        display: flex;
        justify-content: center;
        svg {
            width: 70px;
            height: 70px;
        }
    }
    .head_one{
        height: 25px;
    }
    .check_container3 {
        height: 300px;

        span {
            @include text_decor(black, 15px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .graf_one {
        svg {
            width: 80px;
            height: 80px;
        }

    }
    .graf_two {
        svg {
            width: 80px;
            height: 80px;
        }

    }
    .graf_three {
        svg {
            width: 80px;
            height: 80px;
        }

    }
    .qw_three{
        position: relative;
        top: -27px;
        left: 220px;
        height: 30px;
        svg{
            width: 40px;
            height: 40px;
        }
    }

    .exit_container {
        width: 45px;
        height: 46px;
        top: 140px;
        left: 25px;

        svg {
            width: 25px;
            height: 23px;
        }

    }

    .cont_variant{
        display: flex;        
    }
    
    .btn_res {
        width: 145px;
        height: 45px;
        @include text_decor(white, 20px, 400);
    }

    .block_icon_one {
        svg {
            width: 26px;
            height: 28px;
        }

        top: -25px;
        left: 0;
    }

    .block_icon_two {
        top: 0;
        left: 0;

        svg {
            width: 26px;
            height: 28px;
        }
    }

    .block_icon_three {
        top: 0;
        left: 0;

        svg {
            width: 26px;
            height: 28px;
        }
    }
    
}