@import '../../Style/GlobalStyle.scss';

.mathpage {
    display: flex;
    height: 3300px;
    justify-content: center;
    align-items: center;
    background-color: #C8D9E6;
}


.HeaderMath {
    position: relative;
    bottom: 1300px;
    width: 100%;
    height: 750px;
    background-image: url('../../img/Math_back.png');
}

.exit_container {
    position: relative;
    top: 50px;
    left: 50px;
    width: 125px;
    height: 115px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.test_box {
    position: absolute;
    width: 90%;
    height: 2300px;
    background-color: white;
    border-radius: 70px;
    top: 340px;
    @include text_decor(black, 48px, 400);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-left: 15px;
    }
}

.first_test {
    @include test_block(300px);
}

.two_test {
    @include test_block(500px);
}

.img_test {
    display: flex;
    // justify-content:;
    margin-left: 25px;

}

.check_container {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.check_container2 {
    width: 900px;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

.var_check {
    position: relative;
    top: -22px;
    left: -155px;
}

.var_check1 {
    position: relative;
    top: -22px;
    left: -15px;
}

.three_test {
    @include test_block(700px);
}

.qw_three {
    position: relative;
    top: -115px;
    left: 670px;
}

.check_container3 {
    display: flex;
    justify-content: space-around;
}

.btn_res {
    width: 480px;
    height: 115px;
    background-color: #2D4191;
    @include text_decor(white, 48px, 400);
    text-align: center;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}


.block_icon_one {
    width: 50px;
    height: 50px;
    position: relative;
    top: -35px;
    left: -20px;
}

.block_icon_two {
    width: 50px;
    height: 50px;
    position: relative;
    top: -35px;
    left: -20px;
}

.block_icon_three {
    width: 50px;
    height: 50px;
    position: relative;
    top: -35px;
    left: -20px;
}

@media screen and (max-width: 450px) {

    .HeaderMath {
        background-image: url('../../img/Math_back_mobile.png');
        background-repeat: no-repeat;
    }

    .test_box {
        top: 130px;
        border-radius: 35px;
        height: 1000px;

        p {
            @include text_decor(black, 15px, 400);
            margin: 15px 0 0 15px;

        }
    }

    .first_test {
        @include test_block(150px);
    }

    .two_test {
        @include test_block(150px);
    }

    .three_test {
        @include test_block(190px);
    }

    .check_container {

        span {
            @include text_decor(black, 15px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .check_container2 {
        top: 0;
        span {
            @include text_decor(black, 15px, 400)
        }

        svg {   
            width: 15px;
            height: 15px;
        }
    }
    .img_test{
        margin: 0;
    }
    .img_graf {
        svg {
            width: 100px;
            height: 140px;
        }
    }

    .check_container3 {

        span {
            @include text_decor(black, 15px, 400)
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .exit_container {
        width: 45px;
        height: 46px;

        svg {
            width: 25px;
            height: 23px;
        }

    }
}