@import '../Style/GlobalStyle.scss';

.footer_box{
    display: flex;
    justify-content:space-between;
}
.button_choose{
    width: 400px;
    height: 100px;
    background-color: $blue_color;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    @include text_decor(white,40px,600)
}

.footer_box{
    display: flex;
    justify-content: space-between;
}
.button_box{
    margin: 100px 0 0 100px;
}
.img{
    width: 410px;
    height: 410px;
}