@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@mixin text_decor($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin test_block($height) {
    border-radius: 70px;
    width: 90%;
    height: $height;
    background-color: white;
    margin-top: 50px;
    // border: 10px red solid;
    

}
$fontPlayfair: "Playfair Display", serif;
$fontPlayfairCD: "Playfair Display SC", serif;
$color_blue: #527A8A;
$color_back: #DBE9F3;