@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,400;1,500&display=swap');

@mixin text_decor($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

$fontMontserrat: 'Montserrat', sans-serif;
$blue_color:rgba(0, 85, 212, 1);
$pink_color:rgba(204, 102, 161, 1);