@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@mixin text_decor($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin test_block($height) {
    border-radius: 70px;
    width: 90%;
    height: $height;
    background-color: white;
    margin-top: 50px;
}

@mixin btn_decor($width,$height,$back_gr) {
    width: $width;
    height: $height;
    background-color: $back_gr;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}


$fontPlayfair: "Playfair Display", serif;
$fontPlayfairCD: "Playfair Display SC", serif;
$color_blue: #527A8A;
$color_back: #DBE9F3;