@import '../Style/GlobalStyle.scss';
*{
    font-family: $fontMontserrat;
}
.main{
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom right, rgba(246, 245, 226, 1), rgba(124, 185, 145, 0.93));
}
